.gitignore
.project
.cproject
.settings
TAGS
test/test
Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.h.in
config.h.in~
config.sub
config/m4/libtool.m4
config/m4/ltoptions.m4
config/m4/ltsugar.m4
config/m4/ltversion.m4
config/m4/lt~obsolete.m4
config/aux
configure
install-sh
ltmain.sh
missing
config.h
config.log
config.status
libtool
stamp-h1
src/uct/api/version.h
autom4te.cache
depcomp
.libs
*.la
.deps
.dirstamp
*.lo
*.o
contrib/rpmdef.sh
bindings/java/pom.xml
src/ucs/ucs_stats_parser
test/gtest/gtest
test/perf/ucx_perftest
build-*
ucx*tar.gz
src/tools/info/build_config.h
src/tools/info/ucx_info
src/tools/perf/ucx_perftest
src/tools/profile/ucx_read_profile
test/apps/test_dlopen_cfg_print
test/apps/test_link_map
test/apps/test_ucp_dlopen
test/apps/test_ucs_dlopen
test/apps/sockaddr/sa
test/examples/ucp_client_server
test/examples/ucp_hello_world
test/examples/uct_hello_world
test/examples/ucx_profiling
rpm-dist
cov_build*
debian/changelog
debian/control
debian/rules
debian/ucx.postinst
ucx.spec
ucx.pc
docs/_build
docs/doxygen-doc
docs/doxygen/header.tex
docs/uml/ucp.pdf
docs/uml/uct.pdf
docs/uml/uml.tag
test-driver
src/ucp/api/ucp_version.h
src/ucp/core/ucp_version.c
test/mpi/run_mpi.sh
*.tap
valgrind.xml
tags
.pydevproject
/ucx-*.*.*
/v*.*.*
org_openucx_jucx_*.h
GPATH
GRTAGS
GTAGS
/modules
*.swp
compile_commands.json
.idea/
.externalToolBuilders
.classpath
.vscode
