[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Unified Communication X  (mailing list - https://elist.ornl.gov/mailman/listinfo/ucx-group): "
[access "refs/*"]
	owner = group user/Yossi Itigin (yosefe)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Yossi Itigin (yosefe)
	label-Verified = -1..+1 group user/Yossi Itigin (yosefe)
	push = group user/Yossi Itigin (yosefe)
	read = group user/Yossi Itigin (yosefe)
	rebase = group user/Yossi Itigin (yosefe)
	removeReviewer = group user/Yossi Itigin (yosefe)
	submit = group user/Yossi Itigin (yosefe)
[access "refs/heads/*"]
	create = group user/Yossi Itigin (yosefe)
	push = +force group user/Yossi Itigin (yosefe)
	pushMerge = group user/Yossi Itigin (yosefe)
	read = group user/Yossi Itigin (yosefe)
[access "refs/tags/*"]
	push = group user/Yossi Itigin (yosefe)
	push = +force group user/Yossi Itigin (yosefe)
