# See https://aka.ms/yaml

trigger:
  - master
  - v*.*.x
pr:
  - master
  - v*.*.x

resources:
  containers:
    - container: centos7
      image: ucfconsort.azurecr.io/ucx/centos7:1
      endpoint: ucfconsort_registry
    - container: fedora
      image: ucfconsort.azurecr.io/ucx/fedora:1
      endpoint: ucfconsort_registry

stages:
  - stage: Build
    jobs:
      - job: static_checks
        displayName: Static checks
        container: fedora
        steps:
          - bash: ./autogen.sh
            displayName: Setup autotools

          - bash: |
              set -eE
              mkdir build && cd build
              clang --version
              gcc --version
              cppcheck --version
              ../contrib/configure-release
            displayName: Configure

          - bash: |
              set -eE

              cd build

              export PATH="`csclng --print-path-to-wrap`:`cscppc --print-path-to-wrap`:`cswrap --print-path-to-wrap`:$PATH"
              make -j`nproc` 2>&1 | tee compile.log
            displayName: Build

          - bash: |
              set -eE

              cd build

              cs_errors="cs.err"
              cslinker --quiet compile.log \
                | csgrep --mode=json --path $(dirname $PWD) --strip-path-prefix $(dirname $PWD) \
                | csgrep --mode=json --invert-match --path 'conftest.c' \
                | csgrep --mode=grep --invert-match --event "internal warning" --prune-events=1 \
                > $cs_errors

              if [ -s $cs_errors ]; then
                echo "static checkers found errors:"
                cat $cs_errors
                echo "##vso[task.logissue type=error]static checkers found errors"
                echo "##vso[task.complete result=Failed;]"
              else
                echo "No errors reported by static checkers"
              fi
            displayName: cstools reports

      # Perform test builds on relevant distributions.
      - job: Distros
        displayName: Build for
        strategy:
          matrix:
            centos7:
              CONTAINER: centos7
              CONFIGURE_OPTS:
        container: $[ variables['CONTAINER'] ]
        steps:
          - bash: ./autogen.sh
            displayName: Setup autotools

          - bash: |
              set -eE
              mkdir build && cd build
              ../configure $(CONFIGURE_OPTS)
            displayName: Configure

          - bash: |
              set -eE
              cd build
              gcc -v
              make -s -j `nproc`
            displayName: Build for $(CONTAINER)

      # Test RPM build
      - job: build_rpm
        displayName: build tarball and source rpm
        container: fedora
        steps:
          - bash: ./autogen.sh
            displayName: Setup autotools

          - bash: |
              set -eE
              gcc --version
              ./contrib/configure-release
              ./contrib/buildrpm.sh -s -t -b
            displayName: Build tarball
