# See https://aka.ms/yaml
# This pipeline to be run on direct pushes and merges

pr: none
trigger:
  - master
  - v*.*.x

resources:
  containers:
    - container: centos7_cuda10_1
      image: rdmz-harbor.rdmz.labs.mlnx/ucx/centos7-mofed5.0-cuda10.1:1

stages:
  - stage: Check_Commit
    jobs:
      - job: Check
        steps:
          - checkout: self
            clean: true
          - bash: |
              echo "##vso[task.setvariable variable=Launch;isOutput=true]Yes"
            name: Commit
  - stage: Build
    dependsOn: Check_Commit
    jobs:
      - template: jucx/jucx-publish.yml
        parameters:
          target: publish-snapshot

