# See https://aka.ms/yaml
# This pipeline to be run on tags creation

pr: none
trigger:
  tags:
    include:
      - v*

resources:
  containers:
    - container: centos7
      image: ucfconsort.azurecr.io/ucx/centos7:2
      endpoint: ucfconsort_registry
    - container: centos7_cuda10_1
      image: rdmz-harbor.rdmz.labs.mlnx/ucx/centos7-mofed5.0-cuda10.1:1
    - container: centos7_cuda10_2
      image: rdmz-harbor.rdmz.labs.mlnx/ucx/centos7-mofed5.0-cuda10.2:1
    - container: centos7_cuda11_0
      image: rdmz-harbor.rdmz.labs.mlnx/ucx/centos7-mofed5.0-cuda11.0:1
    - container: ubuntu16_cuda10_1
      image: rdmz-harbor.rdmz.labs.mlnx/ucx/ubuntu16.04-mofed5.0-cuda10.1:1
    - container: ubuntu16_cuda10_2
      image: rdmz-harbor.rdmz.labs.mlnx/ucx/ubuntu16.04-mofed5.0-cuda10.2:1
    - container: ubuntu18_cuda10_1
      image: rdmz-harbor.rdmz.labs.mlnx/ucx/ubuntu18.04-mofed5.0-cuda10.1:1
    - container: ubuntu18_cuda10_2
      image: rdmz-harbor.rdmz.labs.mlnx/ucx/ubuntu18.04-mofed5.0-cuda10.2:1
    - container: ubuntu18_cuda11_0
      image: rdmz-harbor.rdmz.labs.mlnx/ucx/ubuntu18.04-mofed5.0-cuda11.0:1

stages:
  # Create an empty draft to avoid race condition in distro releases
  - stage: GitHubDraft
    jobs:
      - job: DraftRelease
        container: centos7
        steps:
        - checkout: self
          clean: true
          path: "we/need/to/go/deeper"

        - bash: ./autogen.sh
          displayName: Setup autotools

        - bash: |
            set -eE
            gcc --version
            ./contrib/configure-release
            ./contrib/buildrpm.sh -s -t -b
          displayName: Build tarball

        - task: GithubRelease@0
          displayName: Create/edit GitHub Draft Release
          inputs:
            githubConnection: release
            repositoryName: openucx/ucx
            action: edit
            tag: $(Build.SourceBranchName)
            isDraft: true
            addChangeLog: false
            releaseNotesSource: file
            releaseNotesFile: NEWS
            assetUploadMode: replace
            assets: |
              ./ucx-*.tar.gz
              ./rpm-dist/ucx-*.src.rpm

  - stage: Release
    jobs:
      - template: az-distro-release.yml
      - template: jucx-publish.yml
        parameters:
          target: publish-release
